[submodule "src/MAGCruiseWebUI"]
	path = src/MAGCruiseWebUI
	url = git@github.com:MAGCruise/MAGCruiseWebUI.git
[submodule "src/MAGCruiseBroker"]
	path = src/MAGCruiseBroker
	url = git@github.com:MAGCruise/MAGCruiseBroker.git
[submodule "src/MAGCruiseLibraries"]
	path = src/MAGCruiseLibraries
	url = git@github.com:MAGCruise/MAGCruiseLibraries.git
